.container {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-image: url("../../assets/headerbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, #1f1513);
}

header {
  height: 10%;
  background: transparent;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

nav h3 {
  font-weight: 700;
  font-size: 1.4rem;
}

nav h3:hover {
  color: #ec3414;
  transition: all 0.3s;
}

ul {
  padding: 20px;
  list-style: none;
  width: 50%;
  height: 10%;
  background-color: #fff;
  color: #242424;
  font-weight: 700;
  border-radius: 30px;
  box-shadow: 0px 14px 5px rgba(41, 37, 37, 0.1);
  z-index: 10;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.list {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #ec3414;
  display: block;
}

ul li:hover::after {
  width: 100%;
  transition: all 0.3s;
}

ul li:hover {
  color: #ec3414;
  transition: all 0.3s;
}

ul li {
  cursor: pointer;
}

.hero {
  height: 350px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.hero h1, .hero p , .hero button{
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.hero h1 span {
  font-size: 4rem;
}

.close,
.menu {
  display: none;
  padding: 10px;
  cursor: pointer;
}

@media (max-width: 678px) {
  .container {
    background-position: 20% 20%;
  }
  .close,
  .menu {
    display: block;
  }
  nav {
    justify-content: space-between;
  }

  nav ul {
    position: fixed;
    height: 100%;
    width: 30%;
    flex-direction: column;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: all 0.3s;
    background-color: #1f1513;
    opacity: 0.9;
  }
  nav ul button,
  nav button {
    align-self: flex-start;
    border: none;
    background-color: transparent;
    border-radius: 10px;
  }

  nav button {
    align-self: center;
  }

  .list {
    height: 90%;
    flex-direction: column;
    align-items: flex-start;
    color: #fff;
    font-weight: 700;
  }

  .overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .hero {
    justify-content: center;
    align-items: center;
  }

  .hero h1 {
    font-size: 2rem;
    text-align: center;
    &span {
      font-size: 3rem;
    }
  }

  .hero p {
    font-size: 0.9rem;
    font-weight: 70;
  }
}
