.features {
  min-height: 40vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
}

.house {
  position: relative;
  width: 100%;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  overflow: hidden;

  img {
    transform: translateX(-150px);
    opacity: 0;
    transition: all 0.5s ease-in-out;
    border-radius: 10px;
  }

  .house-description {
    transform: translateX(179px);
    opacity: 0;
    transition: all 0.5s ease-in-out;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    p {
      font-style: italic;
    }

    .house-btn {
      align-self: center;
      padding: 0.8rem 1.6rem;
      font-weight: 700;
      color: white;
      background-color: #5f1508;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        scale: 0.9;
      }
    }
  }
}

.card.show {
  transform: translateY(0);
  opacity: 1;
}

.house-description.show,
.house img.show {
  transform: translateX(0);
  opacity: 1;
}

@media (max-width: 768px) {
  .features {
    flex-direction: column;
    height: auto;
    padding: 20px 0;
    gap: 20px;

    .card {
      width: 80%;
    }
  }

  .house {
    flex-direction: column;
    height: auto;

    .house-description {
      width: 100%;

      h2 {
        text-align: center;
      }
      p {
        text-align: center;
        font-size: 0.8rem;
      }
    }
  }
}
