.footer {
  min-height: 50vh;
  width: 90%;
  margin: 0 auto;
  margin-top: 100px;
  border-top: 2px solid white;
  display: flex;
  justify-content: center;
  font-style: italic;
}

.location,
.contact,
.about {
  width: 50%;
  padding: 20px;
}

.rights {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }
  .location,
  .contact,
  .about {
    width: 100%;
    text-align: center;
  }
}
