.special {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.special-slider {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  overflow: hidden;
}

.price {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 700;
}

.special-slider .show {
  opacity: 1;
}

.item {
  height: 100%;
  width: 31%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #2c1e1c;
  transition: all 0.5s ease-in-out;
  opacity: 0;
}
.item img {
  border-radius: 10px;
  height: 400px;
  align-self: center;
}

.item-btn {
  align-self: center;
  padding: 0.8rem 1.6rem;
  font-weight: 700;
  color: white;
  background-color: #410e05;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
}
.item-btn:hover {
  scale: 0.9;
}

@media (max-width: 768px) {
  .special {
    margin-top: 50px;
  }
  .special-slider {
    flex-direction: column;
    height: auto;
    gap: 0px;
  }
  .item {
    width: 80%;
    height: 100vh;
    background-color: #2c1e1c;
  }
  .item button:hover {
    scale: 1;
  }
}
